<ion-view view-title="Tasks">
    <ion-content>
        <ion-list>
            <ion-item class="card item task-card"
                      ng-repeat="task in tasks track by $index">
                <div ng-controller="taskCtrl">
                    <div class="row item-divider">
                        <div class="col col-center">
                            <input class="task task-name" ng-model="task.name" type="text" placeholder="edit task name"
                                   stop-event ng-click="$event.stopPropagation();"/>
                        </div>
                    </div>
                    <div class="row time-summary">
                        <div class="col-30 col-center">
                            <input class="task task-from"
                                   ng-model="task.from"
                                   type="datetime"
                                   placeholder="edit time" ng-focus="task.from=setToNow(task.from);"/>
                        </div>
                        <div class="col-10 col-center" style="text-align: center">TO</div>
                        <div class="col-30 col-center">
                            <input class="task task-to"
                                   ng-model="task.to"
                                   type="datetime"
                                   placeholder="edit time" ng-focus="task.to=setToNow(task.to);"/>
                        </div>
                        <div class="col-10 col-offset-10 col-center">
                            <input class="task task-for-duration"
                                   ng-model="task.duration"
                                   type="number"
                                   style="text-align: center"
                                   placeholder="edit time"
                                    />
                        </div>
                        <div class="col-10 col-center">mins</div>
                    </div>
                    <div class="row">
                        <i class="button button-icon ion-pause" ng-click="startTask(task)"></i>
                        <i class="button button-icon ion-refresh"></i>

                        <div class="timer-container col-50 col-center">
                            <div class="row">
                                <div class="col-20 col-center">
                                    <div class="row">
                                        <i class="button-icon ion-arrow-up-b"></i>
                                    </div>
                                    <div class="row">
                                        <i class="button-icon ion-arrow-down-b"></i>
                                    </div>
                                </div>
                                <div class="col-80 col-center">
                                    <timer countDown="600" interval="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <!--Previous list-style task view-->
        <!--ion-list>
            <ion-item class="item" ng-repeat="task in tasks track by $index" ng-click="showEdit()">
                <h3>
                    <input class="task task-name" ng-model="task.name" type="text" placeholder="edit task name" stop-event ng-click="$event.stopPropagation();"/>
                    <select ng-model="timeType" ng-click="$event.stopPropagation();">
                        <option ng-selected>for</option>
                        <option>from</option>
                    </select>
                    <span ng-show="timeType==='for'" ng-click="$event.stopPropagation();">
                        <input class="task task-for-duration"
                               ng-model="task.duration"
                               type="number"
                               placeholder="edit time"
                               /> mins.
                    </span>
                    <span ng-show="timeType==='from'" ng-click="$event.stopPropagation();">
                        <input class="task task-from"
                               ng-model="task.from"
                               type="datetime"
                               placeholder="edit time" ng-focus="task.from=setToNow(task.from);"/>
                        to
                        <input class="task task-to"
                               ng-model="task.to"
                               type="datetime"
                               placeholder="edit time" ng-focus="task.to=setToNow(task.to);"/>
                    </span>

                </h3>
            </ion-item>


        </ion-list>
        <div ng-show="isNewShown" class="list">


            <label class="item item-input">
                I did ...
                <input type="text" ng-model="newTask.name" placeholder="task name">

            </label>
            <label class="item item-input">
                <select ng-model="newTaskTimeType" ng-click="$event.stopPropagation();">
                    <option selected>for</option>
                    <option>from</option>
                </select>
            </label>
            <label class="item item-input" ng-show="newTaskTimeType==='for'" >
                <input class="task task-for-duration"
                       ng-model="newTask.duration"
                       type="number"
                       placeholder="edit time"
                       ng-click="$event.stopPropagation();"/> mins.
            </label>
            <div class="item item-input" ng-show="newTaskTimeType==='from'">
                <input class="task task-from"
                       ng-model="newTask.from"
                       type="datetime"
                       placeholder="edit time"
                       ng-focus="newTask.from=setToNow(newTask.from);"
                       ng-click="$event.stopPropagation();"/>
                to &nbsp
                <input class="task task-to"
                       ng-model="newTask.to"
                       type="datetime"
                       placeholder="edit time"
                       ng-focus="newTask.to=setToNow(newTask.to);"
                       ng-click="$event.stopPropagation();"/>
            </div>
        </div-->
        <button class="button button-positive"
                ng-click="isNewShown?createNewTask(newTask):showNewTask()">
            {{isNewShown?'Done':'New'}}
        </button>
        <button class="button button-calm" ng-show="isNewShown" ng-click="hideNewTask()">Cancel</button>

    </ion-content>
</ion-view>