<ion-view view-title="Tasks">
    <ion-content>
        <ion-list>
            <ion-item class="item" ng-repeat="task in tasks track by $index" ng-click="showEdit()">
                <h3>
                    <!--Math.round(task.duration/60)-->
                    <input class="task task-name" ng-model="task.name" type="text" placeholder="edit task name" stop-event ng-click="$event.stopPropagation();"/>
                    <select ng-model="timeType" ng-click="$event.stopPropagation();">
                        <option ng-selected>for</option>
                        <option>from</option>
                    </select>
                    <span ng-show="timeType==='for'" ng-click="$event.stopPropagation();">
                        <input class="task task-for-duration"
                               ng-model="task.duration"
                               type="number"
                               placeholder="edit time"
                               /> mins.
                    </span>
                    <span ng-show="timeType==='from'" ng-click="$event.stopPropagation();">
                        <input class="task task-from"
                               ng-model="task.from"
                               type="datetime"
                               placeholder="edit time" ng-focus="task.from=setToNow(task.from);"/>
                        to
                        <input class="task task-to"
                               ng-model="task.to"
                               type="datetime"
                               placeholder="edit time" ng-focus="task.to=setToNow(task.to);"/>
                    </span>

                </h3>
            </ion-item>


        </ion-list>
        <div ng-show="isNewShown" class="list">
            <label class="item item-input">
                I did ...
                <input type="text" ng-model="newTask.name" placeholder="task name">

            </label>
            <label class="item item-input">
                <select ng-model="newTaskTimeType" ng-click="$event.stopPropagation();">
                    <option selected>for</option>
                    <option>from</option>
                </select>
            </label>
            <label class="item item-input" ng-show="newTaskTimeType==='for'" >
                <input class="task task-for-duration"
                       ng-model="newTask.duration"
                       type="number"
                       placeholder="edit time"
                       ng-click="$event.stopPropagation();"/> mins.
            </label>
            <div class="item item-input" ng-show="newTaskTimeType==='from'">
                <input class="task task-from"
                       ng-model="newTask.from"
                       type="datetime"
                       placeholder="edit time"
                       ng-focus="newTask.from=setToNow(newTask.from);"
                       ng-click="$event.stopPropagation();"/>
                to &nbsp
                <input class="task task-to"
                       ng-model="newTask.to"
                       type="datetime"
                       placeholder="edit time"
                       ng-focus="newTask.to=setToNow(newTask.to);"
                       ng-click="$event.stopPropagation();"/>
            </div>
        </div>
        <button class="button button-positive"
                ng-click="isNewShown?createNewTask(newTask):showNewTask()" >
            {{isNewShown?'Done':'New'}}
        </button>
        <button class="button button-calm" ng-show="isNewShown" ng-click="hideNewTask()">Cancel</button>

    </ion-content>
</ion-view>