<ion-view view-title="MoralBank">
    <ion-content>
        <button class="button button-balanced button-full" on-swipe-left="goodDecrement()" ng-click="goodIncrement()">
            善 <span class="badge badge-assertive" ng-bind="goodCount"></span>
        </button>

        <button class="button button-dark button-full" on-swipe-left="badDecrement()" ng-click="badIncrement()">
            恶 <span class="badge badge-assertive" ng-bind="badCount"></span>
        </button>

    </ion-content>
</ion-view>