/* Empty. Add your own CSS if you like */
/*======================================================*/
/*TODO configure input so that it is the same as the text width*/
input.task{
    display:inline-block;
    background-color:transparent;
    text-overflow: clip;
    border:0;
    border-radius:3px;
}
input.task.task-name{
    /*max-width: 30%;*/
}

input.task.task-for-duration, .task-from, .task-to {
    text-align: center;
}

input.task.task-for-duration{
    /*max-width:50px;*/
}
input.task.task-from{

}
input.task.task-to{

}
input.task:focus{
    border:1px solid blue;
    background-color: #c1c1c1;
}

/*=======Task Card Style===*/
.timer-container {
    margin: auto 0;
    margin-left: auto;
}

.card.item.task-card {
    padding: 1px;
}

.item-divider {
    background-color: lightgrey;
}

.row > i {
    margin: auto 0;
}

